.anhadmin {
  max-width: 100%;
  height: auto;
  padding-left: -15px;
}

.content {
  margin-top: 17%;
  max-width: 700px;
  padding-left: 90px;
  padding-right: 80px;
}

.chu {
  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: nunito, sans-serif;
  color: #111;
  margin: 0 0 26px;
  line-height: 1.2;
}
.nutbam {
  color: #fff;
  background: #226fb7;
  padding: 16px 58px;
  border-radius: 30px;
  border: 1px solid #226fb7;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  font-family: rubik, sans-serif;
}
.mau {
  background-color: rgba(241, 248, 253, 0.768);
}
.nutbam:hover {
  color: #fff;
  background: #4194e1;
}
@media screen and (max-width: 1370px) {
  .content {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .chu {
    margin-bottom: 30px;
    font-size: 17px;
  }
  .content {
    padding-left: 20px;
    margin-top: 3%;
  }
  .anhadmin {
    margin-top: 35px;
  }
}

@media screen and (max-width: 990px) {
  .content {
    padding: 20px 15px;
  }
  .anhadmin {
    margin-top: 0;
  }
}
