.rs-footer {
  background-color: #273c66;
  background-image: url(../../assets/images/footer-bg.png);
  background-size: cover;
  margin-top: 100px;
}

.footer-top {
  padding: 218px 0 93px;
}

.widget-title {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.footer-top ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.footer-top ul li a {
  color: #fff;
}

.rs-footer .footer-top .site-map li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #226fb7;
}

.rs-footer .footer-top .site-map li {
  padding-left: 15px;
  position: relative;
  margin-bottom: 11px;
}

.rs-footer .footer-top .address-widget li {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
}

.rs-footer .footer-top .address-widget li .desc {
  padding-left: 20px;
  color: #ffffff;
  font-weight: 500;
}

.rs-footer .footer-top .site-map li a:hover {
  color: #226fb7;
}

span.anticon.anticon-environment,
span.anticon.anticon-phone,
span.anticon.anticon-mail {
  font-size: 15px !important;
  margin-top: 2px;
}

.rs-footer .footer-bottom {
  padding: 40px 0;
  background: transparent;
  position: relative;
}

.rs-footer .footer-bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  max-width: 1240px;
  background: rgba(255, 255, 255, 0.1);
}

.rs-footer .footer-bottom .footer-logo a {
  display: inline-block;
}

.pointer-default {
  cursor: default;
}

.rs-footer .footer-bottom .footer-logo a img {
  max-width: 190px;
}

.rs-footer .footer-bottom .footer-social li {
  display: inline;
  margin-right: 10px;
}

.rs-footer .footer-bottom .footer-social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: #226fb7;
  color: #ffffff;
  text-align: center;
}

.rs-footer .footer-bottom .footer-social li a:hover {
  color: #ffffff;
  background: #273c66;
}

.rs-footer .footer-bottom .footer-social li:last-child {
  margin: 0;
}

.footer-social li {
  font-size: 15px;
  color: #505050;
  font-family: "Rubik", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
}

span.anticon.anticon-facebook {
  color: #fff;
  font-size: 15px;
}

.ant-col.ant-col-24.ant-col-lg-8.ant-col-lg-offset-4.css-dev-only-do-not-override-mxhywb {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1400px;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .footer-container {
    max-width: 720px;
  }

  .rs-footer .footer-top {
    padding: 190px 76px 58px;
  }

  .rs-footer .footer-top .widget-title {
    margin-bottom: -2rem;
  }

  h4.widget-title {
    margin-top: 0;
  }

  .footer-social ul {
    text-align: left;
  }

  .footer-top ul {
    margin: 3rem 0;
  }

  .rs-footer .footer-bottom::before {
    max-width: 690px;
  }

  .rs-footer .footer-bottom {
    margin-left: 2.6rem;
  }

  ul.footer-social {
    margin-left: -9px;
  }
}
