.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  height: 120px;
}

.ant-menu-sub {
  border-radius: 0 !important;
}

.ant-menu-sub > li:hover {
  color: #226fb7 !important;
}

.navbar > span {
  transition: all 0.3s ease;
  font-size: 25px;
  padding-left: 22px;
}

.navbar > span:hover {
  color: #226fb7;
}

.nav-main {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
}

.nav-menu {
  max-width: 685px;
  width: 100%;
  height: 100%;
}

.nav-menu > div > ul {
  gap: 18px;
  justify-content: space-between;
}

.nav-menu > div > ul > li {
  vertical-align: middle;
  line-height: 120px;
  height: inherit;
  color: #111111 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  font-family: nunito, sans-serif;
}

.nav-menu > div > ul > li:first-child {
  color: #226fb7 !important;
}

.nav-menu > div > ul > li:hover > span {
  color: #226fb7 !important;
}

.nav-menu > div > ul > li::after {
  border-bottom-color: transparent !important;
}

.nav-menu.drop > div {
  overflow: hidden;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.3s ease;
  z-index: 10;
}

.nav-menu.drop.show > div {
  background-color: transparent;
  height: 360px;
}

.nav-menu.drop > div > ul > li {
  height: 70px;
}

.nav-sub {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-sub > div span::after {
  content: "+";
  position: absolute;
  right: -20px;
  top: 50%;
  text-align: center;
  display: block;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.nav-sub:hover > div span::after {
  content: "-";
}

.nav-sub:hover > div span {
  position: relative;
  color: #226fb7 !important;
}

.nav-sub.collapse ul {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 9999;
  background-color: white !important;
}

.ant-drawer-content-wrapper {
  width: 500px !important;
  background-color: #fafafa !important;
}

.drawer {
  padding: 6px 26px;
  text-align: center;
  font-family: nunito, sans-serif;
}

.drawer .drawer-logo {
  margin-top: 50px;
}
.drawer .drawer-logo > img {
  display: inline-block;
  max-height: 35px;
}

.drawer p {
  margin-top: 30px;
  margin-bottom: 26px;
  line-height: 1.8;
  font-size: 15px;
  font-weight: 400;
  color: #505050;
}

.drawer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.drawer ul > li {
  overflow: hidden;
  flex: 0 0 31.5%;
}

.drawer img {
  max-width: 100%;
  height: auto;
}

.drawer ul > li:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.drawer-map {
  margin-top: 35px;
}
